.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    // in order to center button
    display: flex;
    justify-content: center;
}